/* En tu archivo de hojas de estilo CSS (por ejemplo, Home.css) */

.navbar {
    width: 100%;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    overflow: auto;
    /* Asegura que esté por encima de otros elementos */
    transition: background-color 0.6s ease; /* Agrega una transición al color de fondo */
}

.navbar:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(250, 246, 246, 0.95);
}
